<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.keeponline.telegram.mapper.MsgRecordMapper">

    <insert id="insertIgnore">
        INSERT ignore INTO msg_record (msg_content, msg_type, date, uid, gid)
        VALUES (#{msgContent}, #{msgType}, #{date}, #{uid}, #{gid})
    </insert>
</mapper>