<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.keeponline.telegram.mapper.SendRecordMapper">
    <select id="listByUid" resultType="cn.keeponline.telegram.entity.SendRecord">
        select * from send_record
                 where uid = #{uid}
                 order by create_time desc
                 limit 50
    </select>

    <delete id="deleteSendRecord">
        delete from send_record where create_time &lt; #{createTime}
    </delete>
</mapper>