<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.keeponline.telegram.mapper.SystemConfigsMapper">
    <!--查询单个-->
    <select id="getByKey" resultType="cn.keeponline.telegram.entity.SystemConfigs">
        select * from system_configs where `key` = #{key}
    </select>

    <update id="updateByKey">
        update system_configs set value = #{value} where `key` = #{key}
    </update>
</mapper>