<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.keeponline.telegram.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="cn.keeponline.telegram.entity.SysUser">
        <!--@Table sys_user-->
        <result property="id" column="id" jdbcType="OTHER"/>
        <result property="outId" column="out_id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="OTHER"/>
        <result property="secretKey" column="secret_key" jdbcType="VARCHAR"/>
        <result property="googleAuthEnabled" column="google_auth_enabled" jdbcType="BOOLEAN"/>
    </resultMap>

    <!--查询单个-->
    <select id="getByUid" resultType="cn.keeponline.telegram.entity.UserInfo">
        select * from user_info where uid = #{uid}
    </select>

    <select id="getByAccountId" resultType="cn.keeponline.telegram.entity.UserInfo">
        select * from user_info where account_id = #{accountId}
    </select>

    <select id="getByUuid" resultType="cn.keeponline.telegram.entity.UserInfo">
        select * from user_info where uuid = #{uuid}
    </select>

    <select id="listByAccountId" resultType="cn.keeponline.telegram.entity.UserInfo">
        select * from user_info where account_id = #{accountId}
    </select>

    <select id="listByUids" resultType="cn.keeponline.telegram.entity.UserInfo">
        select * from user_info where uid in
        <foreach collection="uids"
                 item="uid"
                 open="("
                 separator=","
                 close=")">
            #{uid}
        </foreach>
    </select>
</mapper>